:root {
  --font-family: "Roboto Mono", sans-serif;
  --second-family: "JetBrains Mono", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Poppins", sans-serif;
  --font4: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

section {
  padding: 13px;
}

h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 14px;
}

h3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 100vh;
}

.gray-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.8);
}

.white-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.8);
}

.second-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 115%;
  color: #fff;
}

#tokenomika {
  background-image: url("img/tokenomika_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 33px;
  backdrop-filter: blur(9.100000381469727px);
  background: rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  margin-bottom: 40px;
}

.tokenomika-list {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 42px;
}

.green-item::marker {
  color: #00a25e;
}

.dark-green-item::marker {
  color: #035432;
}

.blue-item::marker {
  color: #0053f3;
}

.dark-blue-item::marker {
  color: #032c7c;
}

.purple-item::marker {
  color: #aa01e6;
}

.gray-list {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.center {
  text-align: center;
}

.send-button-block {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  z-index: -1;
  position: relative;
  min-height: 150px;
}

.send-button-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.send-button-content {
  padding: 20px 38px 20px 38px;
}

.copy-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.send-button {
  border-radius: 16px;
  padding: 23px 90px;
  background: #0053f3;
  border: 3px soild #0053f3;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: none;
  width: 100%;
  z-index: 999;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
